/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
    // Font Styling
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
    color: white;
}

